// uview-ui 主题
@import 'uview-plus/theme.scss';
// uni_modules 变量
@import '@/uni_modules/uni-scss/variables.scss';

// 颜色变量
$color-primary: #f39999;

// 字体变量
$font-size: 28rpx;
$font-size-huge: 48rpx;

$line-height: 48rpx;
$line-height-huge: 88rpx;

// 尺寸变量
$to-border: 28rpx;
$near-border: 14rpx;
